/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s ease;
  background-color: #ffffff;
  color: #000000;
}

/* Tema Dark */
body.dark-theme {
  background-color: #333;
  color: #fff;
}

.header {
  background-color: #007bff;
  padding: 10px;
}

.nav-button {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: bolder;  
}

.nav-button:hover {
  background-color: #0056b3;
  transform: scale(1.2);
}


.logo {
  width: 70px;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
}

.menu {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 5px;
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu ul li {
  margin-right: 20px;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
}

.profile-pic {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-top: 20px;
}

h2 {
  color: #007bff;
  text-align: center;
  margin-top: 20px;
}

.intro {
  text-align: center;
  padding: 40px 15px;
}

.intro-text {
  text-align: justify;
  line-height: 1.8;
  font-size: large;
}

.cta-button {
  display: block;
  margin: 20px auto;
  max-width: 280px;
  text-align: center;
  color: #fff;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bolder;
  font-display: auto;
}

.contact-text {
  text-align: center;
}

.footer {
  background-color: #f7f7f7;
  padding: 20px;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-links .icon {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}


/* Estilos responsive */
@media screen and (max-width: 768px) {
  .menu ul li {
    margin-right: 10px;
  }

  .menu {
    flex-direction: column;
  }

  .menu ul {
    flex-direction: column;
    align-items: center;
  }

  .cta-button {
    max-width: 100%;
  }

  .social-links {
    flex-wrap: wrap;
  }

  .social-links .icon {
    margin: 10px;
  }
}

@media screen and (max-width: 480px) {
  .menu ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* Estilos específicos para imágenes */
img {
  max-width: 100%;
  height: auto;
}

/* Efecto de relieve */
.relief {
  transition: box-shadow 0.3s ease;
}

/* Efecto de relieve al pasar el cursor */
.relief:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  transform: scale(1.5);
 }

.clock {
  font-size: 32px;
  color: #007bff; /* Color azulado */
  font-weight: bolder;
}

/* Estilos adicionales para el reloj */
